.button {
  display: inline-block;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: rgb(235, 0, 141);
  transition: all 0.2s ease 0s;
  outline: none;
  border-radius: 40px;
  user-select: none;
  padding: 10px 24px;
  border-style: none;

  &:disabled {
    opacity: .2;
    pointer-events: none;
  }

  &:hover {
    background-color: rgb(210, 0, 126);
  }
  &:active {
    background-color: rgb(235, 0, 141);
  }
}

.loader {
  margin-right: auto;
  margin-left: auto;
  display: block;
  animation: spinner-rotate 3s linear infinite;
}

.circle {
  fill: none;
  stroke-dasharray: 280;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 5;
  animation: spinner-offset 3s linear infinite;
  stroke: white;
}


@keyframes spinner-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}
