.root {
  text-align: center;
}
.content {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08), 0 8px 12px rgba(0, 0, 0, 0.14);
  transition: all 0.3s ease;
  &:hover {
    transform: translate3D(0, -1px, 0);
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  }
}
.submitBtn {
  margin: 20px auto 0;
}
