.root {
  &_currencyFrom {
    position: relative;
    background: linear-gradient(to bottom, #1e91e4, #3f90ea);
    &::after {
      content: '';
      display: block;
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 20px;
      height: 20px;
      left: 50%;
      top: 100%;
      background-color: #3f90ea;
    }
  }

  &_currencyTo {
    background: linear-gradient(to bottom, #2351c2, #2757cc);
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &_rate {
    justify-content: flex-end;
  }
}

.block {
  box-sizing: border-box;
  padding: 40px 50px 46px;
  display: flex;
  flex-wrap: wrap;
  font-size: 26px;
  color: white;
}

.text {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  &_rate {
    margin-top: 0;
  }
}
