.root {
  &_currencyFrom {
    position: relative;
   background: linear-gradient(to bottom, #1E91E4, #3F90EA);
    &::after {
      content: '';
      display: block;
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 20px;
      height: 20px;
      left: 50%;
      top: 100%;
      background-color: #3F90EA;
    }
  }

  &_currencyTo {
    background: linear-gradient(to bottom,  #2351C2, #2757CC);
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &_rate {
    justify-content: flex-end;
  }
}

.block {
  box-sizing: border-box;
  padding: 40px 50px 46px;
  display: flex;
  flex-wrap: wrap;
  font-size: 26px;
  color: white;
}

.text {
  margin-top: 15px;
  color: rgba(255,255,255, .85);
  font-size: 12px;
}
