.slick-prev {
  left: 12px;
}

.slick-next {
  right: 12px;
}

.slick-dots {
  bottom: 15px;
}

.slick-next,
.slick-prev,
.slick-dots {
  z-index: 1;
}

.slick-dots li button:before {
  font-size: 9px;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: .85;
  color: white;
}

.slick-dots li {
  margin: -1px;
}

.slide-enter {
  height: 0px;
  opacity: 0;
}

.slide-enter.slide-enter-active {
  height: 75px;
  opacity: 1;
  transition: height 300ms ease-out, opacity 300ms ease;
}
.slide-leave {
  opacity: 1;
}
