.slick-prev {
  left: 12px;
}

.slick-next {
  right: 12px;
}

.slick-dots {
  bottom: 15px;
}

.slick-next,
.slick-prev,
.slick-dots {
  z-index: 1;
}

.slick-dots li button:before {
  font-size: 8px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.85;
}

.slick-dots li {
  margin: -3px;
}

.slide-enter {
  height: 0;
  opacity: 0;
}

.slide-leave {
  opacity: 1;
}
