.svg {
  display: block;
  width: 10px;
  height: 10px;
  animation: spinner-rotate 3s linear infinite;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.circle {
  fill: none;
  stroke-dasharray: 280;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 5;
  animation: spinner-offset 3s linear infinite;
  stroke: white;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

@keyframes spinner-offset {
  0%,
  100% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: -280;
  }
}
